.tooltip-item:hover {
  transform: scale(1.1);
}

.tooltip-item {
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out ;
}

.item-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.tooltip-label {
  background-color: black;
  color: white;
  padding: 5px 10px;
  
}